@charset "UTF-8";
@keyframes loader {
  0% {
    Transform: translateX(-9999px);
  }
  100% {
    Transform: translateX(0);
  }
}
@keyframes loader-barre {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes page-accueil {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes carte-menu {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes carte-menu__circle-check {
  0% {
    width: 0;
  }
  100% {
    width: 25%;
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  position: absolute;
  animation: loader;
}
.loader p {
  font-family: "Shrikhand", cursive;
  margin: auto;
  padding-bottom: 15px;
}
.loader-cadre {
  width: 80%;
  border: 2px solid #9356DC;
  margin: auto;
}
.loader-barre {
  background-color: #FF79DA;
  margin: 2px;
  padding: 5px;
  transform-origin: 0%;
  animation: loader-barre 2s 500ms;
  animation-fill-mode: both;
}

.bouton-rose {
  font-size: 15px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  color: white;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  border: none;
  border-radius: 30px;
  box-shadow: 0px 5px 20px rgba(179, 176, 176, 0.988);
  margin: auto;
  cursor: pointer;
}
.bouton-rose:hover {
  background: linear-gradient(175deg, #ff88de, #9b63df);
  box-shadow: 0px 5px 20px rgba(91, 90, 90, 0.988);
}

#bouton-commander {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  background-color: rgb(245, 245, 245);
}
#bouton-commander .bouton-rose {
  width: 55%;
}
@media (min-width: 768px) {
  #bouton-commander .bouton-rose {
    max-width: 400px;
  }
}

.bouton-coeur {
  border: none;
  background: none;
  padding: 0;
  position: relative;
  right: 20px;
  display: flex;
  vertical-align: middle;
  cursor: pointer;
}
.bouton-coeur i {
  font-size: 25px;
}
.bouton-coeur:hover .bouton-coeur-plein {
  opacity: 1;
}
.bouton-coeur-plein {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(30deg, #FF79DA, #9356DC);
  border: none;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 500ms;
}
.bouton-coeur-plein i {
  font-size: 25px;
}

.carte-fonct {
  width: 90%;
  background-color: white;
  display: flex;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(213, 210, 210, 0.988);
  cursor: pointer;
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
  align-items: center;
  padding: 5px 0 5px 0;
  margin-bottom: 30px;
  cursor: default;
}
@media (min-width: 992px) {
  .carte-fonct {
    min-width: 300px;
    max-width: 20%;
  }
}
.carte-fonct__numéro {
  color: white;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  position: relative;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carte-fonct i {
  color: grey;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
}
.carte-fonct__consigne {
  font-weight: bold;
  text-align: center;
}
.carte-fonct--colorée {
  background-color: #f2eafb;
}
.carte-fonct--colorée i {
  color: #9356DC;
}

.carte-restaurant {
  width: 90%;
  background-color: white;
  display: flex;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(213, 210, 210, 0.988);
  cursor: pointer;
  flex-direction: column;
  margin-bottom: 20px;
}
@media all and (min-width: 768px) {
  .carte-restaurant {
    max-width: 400px;
  }
}
.carte-restaurant a {
  width: 100%;
  text-decoration: none;
  color: black;
}
.carte-restaurant .photo-tampon {
  width: 100%;
  display: flex;
  position: relative;
}
.carte-restaurant .photo-tampon img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  position: relative;
  z-index: 1;
}
.carte-restaurant .photo-tampon .tampon {
  width: 75px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  color: #278870;
  background-color: #99E2D0;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  margin-top: 20px;
  z-index: 2;
}
@media all and (min-width: 768px) {
  .carte-restaurant .photo-tampon .tampon {
    max-width: 75px;
  }
}
.carte-restaurant__légende {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
.carte-restaurant__légende__nom {
  margin: 20px 0 0 5px;
  font-weight: bold;
}
.carte-restaurant__légende__localisation {
  margin: 5px 0 15px 5px;
}

.carte-menu-1 {
  width: 90%;
  background-color: white;
  display: flex;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(213, 210, 210, 0.988);
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: 0px 5px 20px rgba(179, 176, 176, 0.988);
  animation: carte-menu 1s 0.2s both;
}
@media all and (min-width: 768px) {
  .carte-menu-1 {
    min-width: 500px;
    margin-left: 25px;
  }
}
.carte-menu-1 h3 {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carte-menu-2 {
  width: 90%;
  background-color: white;
  display: flex;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(213, 210, 210, 0.988);
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: 0px 5px 20px rgba(179, 176, 176, 0.988);
  animation: carte-menu 1s 0.4s both;
}
@media all and (min-width: 768px) {
  .carte-menu-2 {
    min-width: 500px;
    margin-left: 25px;
  }
}
.carte-menu-2 h3 {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carte-menu-3 {
  width: 90%;
  background-color: white;
  display: flex;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(213, 210, 210, 0.988);
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: 0px 5px 20px rgba(179, 176, 176, 0.988);
  animation: carte-menu 1s 0.6s both;
}
@media all and (min-width: 768px) {
  .carte-menu-3 {
    min-width: 500px;
    margin-left: 25px;
  }
}
.carte-menu-3 h3 {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carte-menu-4 {
  width: 90%;
  background-color: white;
  display: flex;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(213, 210, 210, 0.988);
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: 0px 5px 20px rgba(179, 176, 176, 0.988);
  animation: carte-menu 1s 0.8s both;
}
@media all and (min-width: 768px) {
  .carte-menu-4 {
    min-width: 500px;
    margin-left: 25px;
  }
}
.carte-menu-4 h3 {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carte-menu-5 {
  width: 90%;
  background-color: white;
  display: flex;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(213, 210, 210, 0.988);
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: 0px 5px 20px rgba(179, 176, 176, 0.988);
  animation: carte-menu 1s 1s both;
}
@media all and (min-width: 768px) {
  .carte-menu-5 {
    min-width: 500px;
    margin-left: 25px;
  }
}
.carte-menu-5 h3 {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carte-menu-6 {
  width: 90%;
  background-color: white;
  display: flex;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(213, 210, 210, 0.988);
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: 0px 5px 20px rgba(179, 176, 176, 0.988);
  animation: carte-menu 1s 1.2s both;
}
@media all and (min-width: 768px) {
  .carte-menu-6 {
    min-width: 500px;
    margin-left: 25px;
  }
}
.carte-menu-6 h3 {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carte-menu-7 {
  width: 90%;
  background-color: white;
  display: flex;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(213, 210, 210, 0.988);
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: 0px 5px 20px rgba(179, 176, 176, 0.988);
  animation: carte-menu 1s 1.4s both;
}
@media all and (min-width: 768px) {
  .carte-menu-7 {
    min-width: 500px;
    margin-left: 25px;
  }
}
.carte-menu-7 h3 {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carte-menu-8 {
  width: 90%;
  background-color: white;
  display: flex;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(213, 210, 210, 0.988);
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: 0px 5px 20px rgba(179, 176, 176, 0.988);
  animation: carte-menu 1s 1.6s both;
}
@media all and (min-width: 768px) {
  .carte-menu-8 {
    min-width: 500px;
    margin-left: 25px;
  }
}
.carte-menu-8 h3 {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carte-menu-9 {
  width: 90%;
  background-color: white;
  display: flex;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(213, 210, 210, 0.988);
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: 0px 5px 20px rgba(179, 176, 176, 0.988);
  animation: carte-menu 1s 1.8s both;
}
@media all and (min-width: 768px) {
  .carte-menu-9 {
    min-width: 500px;
    margin-left: 25px;
  }
}
.carte-menu-9 h3 {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carte-menu-10 {
  width: 90%;
  background-color: white;
  display: flex;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(213, 210, 210, 0.988);
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: 0px 5px 20px rgba(179, 176, 176, 0.988);
  animation: carte-menu 1s 2s both;
}
@media all and (min-width: 768px) {
  .carte-menu-10 {
    min-width: 500px;
    margin-left: 25px;
  }
}
.carte-menu-10 h3 {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carte-menu__descriptif {
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carte-menu__descriptif h3 {
  margin-right: 50px;
}
.carte-menu__descriptif:hover + .carte-menu__circle-check {
  animation: carte-menu__circle-check 500ms both;
}
.carte-menu__descriptif:hover + .carte-menu__circle-check i {
  transform: rotate(360deg);
}
.carte-menu__descriptif__accompagnement-prix {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 10px;
}
.carte-menu__descriptif__accompagnement-prix p {
  margin: 0;
  font-size: 14px;
}
.carte-menu__descriptif__accompagnement-prix .accompagnement {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
}
.carte-menu__descriptif__accompagnement-prix .prix {
  font-weight: bold;
  position: relative;
  right: 0;
}

.carte-menu__circle-check {
  width: 0;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  transform-origin: 100%;
}
.carte-menu__circle-check i {
  display: block;
  overflow: hidden;
  font-size: 40px;
  color: #99E2D0;
  background-color: white;
  border-radius: 150px;
  margin: auto;
  transition: transform 500ms ease-in-out;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
header img {
  width: 45%;
}
@media all and (min-width: 768px) {
  header img {
    min-width: 340px;
    max-width: 30%;
  }
}

footer {
  color: white;
  background-color: rgb(58, 55, 55);
  padding-bottom: 20px;
}
footer p {
  font-family: "Shrikhand", cursive;
  margin: 0;
  padding: 30px 0 10px 25px;
}
footer ul {
  list-style-type: none;
  margin-left: -15px;
}
@media all and (min-width: 768px) {
  footer ul {
    display: flex;
  }
}
footer ul li {
  padding-bottom: 10px;
  cursor: pointer;
}
@media all and (min-width: 768px) {
  footer ul li {
    margin-right: 20px;
  }
}
footer ul li i {
  width: 2%;
  padding-right: 20px;
}
footer ul li a {
  color: white;
  text-decoration: none;
}

.page-accueil {
  animation: page-accueil 0s 3s both;
}

#localisation {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  background-color: rgb(237, 236, 236);
  border-top: 2px solid #d4d2d2;
  box-shadow: inset 0px 2px #e1dfdf;
}
#localisation i {
  margin-left: 40px;
  margin-right: 10px;
}
#localisation input {
  font-weight: bold;
  background-color: rgb(237, 236, 236);
  border: none;
  margin-left: 10px;
}

#présentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  padding-top: 40px;
  padding-bottom: 60px;
}
#présentation h1 {
  width: 60%;
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
}
#présentation p {
  font-size: 17px;
  width: 80%;
  color: gray;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}
#présentation a {
  width: 55%;
  text-decoration: none;
  color: white;
  margin: auto;
}
@media all and (min-width: 768px) {
  #présentation a {
    max-width: 400px;
  }
}

#fonctionnement {
  padding-top: 30px;
  padding-bottom: 40px;
}
@media all and (min-width: 768px) {
  #fonctionnement {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
#fonctionnement h2 {
  padding-left: 20px;
  padding-bottom: 10px;
}

#restaurants {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  padding-bottom: 45px;
}
#restaurants h2 {
  padding-top: 30px;
  padding-left: 20px;
}
@media all and (min-width: 768px) {
  #restaurants .restaurant-media-query {
    display: flex;
    flex-wrap: wrap;
  }
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu i {
  color: black;
  font-size: 15px;
  position: absolute;
  left: 20px;
  top: 25px;
}

.main-menu {
  background-color: rgb(245, 245, 245);
}

.photo-menu {
  width: 100%;
}
.photo-menu img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.menu {
  width: 100%;
  border-radius: 40px 40px 0 0;
  background-color: rgb(245, 245, 245);
  position: relative;
  top: -35px;
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 768px) {
  .menu {
    flex-direction: raw;
  }
}
.menu__nom-restaurant {
  font-family: shrikhand;
  font-size: 13px;
  font-weight: 200;
  width: 90%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 25px;
}
.menu__nom-restaurant .bouton-coeur {
  margin-top: 17px;
}
@media all and (min-width: 768px) {
  .menu__nom-restaurant {
    justify-content: center;
  }
  .menu__nom-restaurant .bouton-coeur {
    margin-left: 60px;
  }
}
.menu h2 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-left: 25px;
  padding-bottom: 5px;
}
.menu h2 span {
  padding-bottom: 5px;
  Border-bottom: 3px solid #99E2D0;
}

@media all and (min-width: 768px) {
  .menu__complet {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 768px) {
  .menu__entrées .menu__plats .menu__desserts {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
