// ======== variables ========

// Couleurs
$couleur-primaire: #9356DC ;
$couleur-secondaire: #FF79DA ;
$couleur-tertiaire: #99E2D0 ;
$localisation-bg-color: rgb(237, 236, 236) ;
$bg-color-gris-clair: rgb(245, 245, 245) ;
$bouton-rose-bg-color: linear-gradient(175deg, $couleur-secondaire, $couleur-primaire) ;
$bouton-rose-bg-color-lighten: linear-gradient(175deg, lighten($couleur-secondaire, 3%), lighten($couleur-primaire, 3%)) ;

// Ombres
$ombres: 0px 5px 20px rgba(213, 210, 210, 0.988) ;
$ombres-marquees: 0px 5px 20px rgba(91, 90, 90, 0.988) ;

// Padding et margin
$padding-left-h2-accueil: 20px ;
$padding-left-h1-h2-menu: 25px ;

// Largeurs d'éléments
$width-blocs-menus: 90% ;
$width-bouton-rose: 55% ;

// taille des boutons coeurs
$taille-bouton-coeur: 25px ;

// curseur des boutons
$pointer: pointer ;

/* ======== Eléments communs à la page d'accueil et aux menus ======== */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 ;
}

header {
    display: flex ;
    justify-content: center ;
    padding-top: 20px ;
    padding-bottom: 10px ;
   
    img {
        width: 45% ;
    }
}

.bouton-rose {
    font-size: 15px ;
    width: 100% ;
    height: 50px ;
    color: white ;
    background: $bouton-rose-bg-color ;
    border: none ;
    border-radius: 30px ;
    box-shadow: 0px 5px 20px rgba(179, 176, 176, 0.988) ;
    margin: auto ;
    cursor: $pointer ;

    &:hover {
        background: $bouton-rose-bg-color-lighten ;
        box-shadow: $ombres-marquees ;
    }
}

.bouton-coeur {
    border: none ;
    background: none ;
    padding: 0 ;
    position: relative ;
    right: 20px ;
    display: flex ;
    vertical-align: middle ;
    cursor: $pointer ;
    
    i {
        font-size: $taille-bouton-coeur ;
    }

    &:hover {
        & .bouton-coeur-plein {
            opacity: 1 ;
        }
    }

    &-plein {
        color: transparent ;
        background-clip: text ;
        -webkit-background-clip: text ;
        background-image: linear-gradient(30deg, $couleur-secondaire, $couleur-primaire)  ;
        border: none ;
        opacity: 0 ; 
        position: absolute ;
        top: 0 ;
        right: 0 ;
        bottom: 0 ;
        left: 0 ; 
        transition: opacity 500ms ;

        i {
            font-size: $taille-bouton-coeur ;
        }
    } 
}

footer {
    color: white ;
    background-color: rgb(58, 55, 55);
    padding-bottom: 20px ;

    p {
        font-family: 'Shrikhand', cursive ;
        margin: 0 ;
        padding: 30px 0 10px 25px ;
    }

    ul {
        list-style-type: none ;
        margin-left: -15px ;

        li {
            padding-bottom: 10px ;
            cursor: $pointer ;

            i {
                width : 2% ;
                padding-right: 20px ;
            }

            a {
                color: white ;
                text-decoration: none ;
            }
        }
    }
}

/* ======== Page d'acceuil (index) ======== */

// Animations

@keyframes loader {
    0% {
        Transform: translateX(-9999px)
    }
    100% {
        Transform: translateX(0)
    }
}

@keyframes loader-barre {
    0% {
        transform: scaleX(0) ;
    }
    100% {
        transform: scaleX(1)
    }
}

@keyframes page-accueil {
    0% {
        transform: translateX(-9999px) ;
    }
    100% {
        transform: translateX(0);
    }
}

// Eléments

.loader {
    width: 80% ;
    display: flex ;
    flex-direction: column ;
    justify-content: center ;
    margin: auto ; 
    position: absolute ;
    top: 200px ; 
    left: 40px ;
    animation: loader ;
    
    p {
        font-family: 'Shrikhand', cursive ;
        margin: auto ;
        padding-bottom: 15px ;
    }

    &-cadre {
        border : 2px solid $couleur-primaire ;
    }

    &-barre {
        background-color: $couleur-secondaire ;
        margin: 2px ;
        padding: 5px ;
        transform-origin: 0% ;
        animation: loader-barre 2s 500ms ;
        animation-fill-mode: both ;
    }
}

.page-accueil {
    animation: page-accueil 0s 3s both ;
}

#localisation {
    padding-top : 15px ;
    padding-bottom : 15px ;
    display: flex ;
    justify-content: center ;
    background-color : $localisation-bg-color ;
    border-top : 2px solid darken($localisation-bg-color, 10%) ;
    box-shadow: inset 0px 2px darken($localisation-bg-color, 5%) ;

    i {
        margin-left: 40px ;
        margin-right: 10px ;
    }

    input{
        font-weight: bold ;
        background-color: $localisation-bg-color ;
        border : none ;
        margin-left: 10px ;
    }
}

#présentation {
    display: flex ;
    flex-direction: column ;
    justify-content: center ;
    background-color: $bg-color-gris-clair ;
    padding-top: 40px ;
    padding-bottom: 60px ;

    h1 {
        width: 60% ;
        font-size: 22px ;
        font-weight: bolder ;
        text-align: center ;
        margin: auto ;
        margin-bottom: 15px ;
    }

    p {
        font-size: 17px ;
        width: 80% ;
        color: lighten(black, 50%) ;
        text-align: center ;
        margin: auto ;
        margin-bottom: 30px ;
    }

    a {
        width : $width-bouton-rose ;
        text-decoration: none ;
        color: white ;
        margin: auto ;
    }
}

#fonctionnement {
    padding-top: 30px ;
    padding-bottom: 40px ;

    h2{
        padding-left: $padding-left-h2-accueil ;
        padding-bottom: 10px ;
    }
}

.carte-fonct {
    width: 90% ;
    background-color: $bg-color-gris-clair ;
    border-radius: 20px ;
    display: flex ;
    align-items: center ;
    padding : 5px 0 5px 0 ;
    margin: auto ;
    margin-bottom: 30px ;
    box-shadow: 0px 5px 20px rgba(213, 210, 210, 0.988) ;

    &__numéro {
        color: white ;
        background-color: $couleur-primaire ;
        width: 25px ;
        height: 25px ;
        border-radius: 100px ;
        position: relative ;
        right : 10px ;
        display: flex ;
        justify-content: center ;
        align-items: center ;
    }

    i {
        color: grey ;
        margin: auto ;
        margin-left: 20px ;
        margin-right: 20px ;
        }

    &__consigne {
        font-weight: bold ;
        text-align: center ;
    }

    &:active {
        background-color: lighten($couleur-primaire, 35%) ;
        i {
            color: $couleur-primaire ;
        }
    } 
}

#restaurants {
    display: flex ;
    flex-direction: column ;
    background-color: $bg-color-gris-clair ;
    padding-bottom: 45px ;

    h2 {
        padding-top: 30px ;
        padding-left: $padding-left-h2-accueil
    }
}

.carte-restaurant {
    width: 90% ;
    display: flex ;
    flex-direction: column ;
    background-color: white ;
    border-radius: 15px ;
    margin: auto ;
    margin-bottom : 20px ;

    a {
        width: 100% ;
        text-decoration: none ;
        color : black ;
    }
    .photo-tampon {
        width: 100% ;
        display: flex ;

        img {
            width: 100% ;
            height: 175px ;
            object-fit: cover ;
            border-radius: 15px 15px 0 0 ;
            position: relative ;
            z-index: 1 ;
        }
        .tampon {
            width: 20% ;
            padding-top: 6px ;
            padding-bottom: 6px ;
            font-size: 13px ;
            font-weight: bold ;
            display: flex ;
            justify-content: center ;
            align-items: center ;
            color: darken($couleur-tertiaire, 35%) ;
            background-color: $couleur-tertiaire ;
            border-radius: 2px ;
            position: absolute ;
            right : 30px ;
            margin-top: 20px ;
            z-index: 2 ;
        }
    }       
    &__légende  {
        display: flex ;
        justify-content: space-between ;
        align-items: center ;
        padding-left: 10px ;

        &__nom {
            margin : 20px 0 0 5px ;
            font-weight: bold ;
        }
        &__localisation {
            margin: 5px 0 15px 5px ;
        }
    }
}


/* ======== Pages menus ======== */

// Animations

@keyframes carte-menu {
    0% {
        opacity: 0 ;
        transform: translateY(20px);
    }
    100% {
        opacity: 1 ;
        transform: translateY(0);
    }
}

// Variables délai animation carte-menu
$animation-duration-affichage-carte-menu: 1s ;
$animation-delay-affichage-carte-menu: 0.2s ;


@keyframes carte-menu__circle-check {
    0% {
        width: 0 ;
    }
    100% {
        width: 25% ;
    }
}

// mixin

@mixin carte-menu {
    width: $width-blocs-menus ;
    background-color: white ;
    border-radius: 15px ;
    margin: auto ;
    margin-bottom : 15px ;
    display: flex ;
    box-shadow: 0px 5px 20px rgba(179, 176, 176, 0.988) ;
    
}

@mixin carte-menu-h3 {
    margin : 0 ;
    padding-top: 10px ;
    padding-left: 10px ;
}

@mixin carte-menu-descriptif {
    width: 100% ;
        cursor: $pointer ;
        
        &:active + .carte-menu__circle-check {
            transform: scaleX(1) ;
        }
        &:active + .carte-menu__circle-check i {
            transform: rotate(360deg) ;
        }
}

@mixin carte-menu-descriptif-accompagnement-prix {
    display: flex ;
    justify-content: space-between ;
    padding : 10px 20px 10px 10px ;
    
    p {
        margin : 0 ;
        font-size: 14px ;
    }
}
// Eléments

.header-menu {
    display: flex ;
    justify-content: center ;
    align-items: center ;

    i {
        color: black ;
        font-size: 15px ;
        position: absolute ;
        left: 20px ;
        top: 25px ;
    }
}

.main-menu {
    background-color: $bg-color-gris-clair ;
}

.photo-menu {
    width: 100% ;
    
    img {
        height: 250px ;
        object-fit: contain ;
    }
}

.menu {
    width: 100% ;
    border-radius: 40px 40px 0 0 ;
    background-color: $bg-color-gris-clair ;
    position: relative ;
    top: -35px ;
    display: flex ;
    flex-direction: column ;

    &__nom-restaurant {
        font-family: shrikhand ;
        font-size: 13px ;
        font-weight: 200 ;
        width : $width-blocs-menus ;
        display: flex ;
        text-align: center ;
        justify-content : space-between ;
        padding-top: 15px ;
        padding-left: $padding-left-h1-h2-menu ;
   
        .bouton-coeur {
            font-size: 25px ;
            margin-top: 17px ;
        }
    }

    h2 {
        font-size: 16px ;
        text-transform: uppercase ;
        margin-top: 25px ;
        margin-bottom: 15px ;
        padding-left: $padding-left-h1-h2-menu ;
        padding-bottom: 5px ;

        span {
            padding-bottom: 5px ;
            Border-bottom: 3px solid $couleur-tertiaire ;
        }
    }
}

.carte-menu-1 {
    @include carte-menu ;

    h3 {
        @include carte-menu-h3
    }

    animation: carte-menu 1s $animation-delay-affichage-carte-menu both ;
}

.carte-menu-2 {
    @include carte-menu ;

    h3 {
        @include carte-menu-h3
    }

    animation: carte-menu 1s $animation-delay-affichage-carte-menu*2 both ;
}

.carte-menu-3 {
    @include carte-menu ;

    h3 {
        @include carte-menu-h3
    }

    animation: carte-menu 1s $animation-delay-affichage-carte-menu*3 both ;
}

.carte-menu-4 {
    @include carte-menu ;

    h3 {
        @include carte-menu-h3
    }

    animation: carte-menu 1s $animation-delay-affichage-carte-menu*4 both ; 
}

.carte-menu-5 {
    @include carte-menu ;

    h3 {
        @include carte-menu-h3
    }

    animation: carte-menu 1s $animation-delay-affichage-carte-menu*5 both ; 
}

.carte-menu-6 {
    @include carte-menu ;

    h3 {
        @include carte-menu-h3
    }

    animation: carte-menu 1s $animation-delay-affichage-carte-menu*6 both ;
}

.carte-menu-7 {
    @include carte-menu ;

    h3 {
        @include carte-menu-h3
    }

    animation: carte-menu 1s $animation-delay-affichage-carte-menu*7 both ;
}

.carte-menu-8 {
    @include carte-menu ;

    h3 {
        @include carte-menu-h3
    }

    animation: carte-menu 1s $animation-delay-affichage-carte-menu*8 both ; 
}

.carte-menu-9 {
    @include carte-menu ;

    h3 {
        @include carte-menu-h3
    }

    animation: carte-menu 1s $animation-delay-affichage-carte-menu*9 both ;
}

.carte-menu-10 {
    @include carte-menu ;

    h3 {
        @include carte-menu-h3
    }

    animation: carte-menu 1s $animation-delay-affichage-carte-menu*10 both ; 
}

.carte-menu__descriptif {
    width: 100% ;
    cursor: $pointer ;
    
    &:active + .carte-menu__circle-check {
        transform: scaleX(1) ;
    }

    &:active + .carte-menu__circle-check i {
        transform: rotate(360deg) ;
    }

    &__accompagnement-prix {
        display: flex ;
        justify-content: space-between ;
        padding : 10px 20px 10px 10px ;
        
        p {
            margin : 0 ;
            font-size: 14px ;
        }
        
        .accompagnement {
            white-space: nowrap ;
            overflow: hidden ;
            text-overflow: ellipsis ;
            position: relative ;
            left: 0 ;
        }
        
        .prix {
            font-weight: bold ;
            position: relative ;
            right : 0 ;
        }
    }
}

.carte-menu__circle-check {
    width: 25% ;
    background-color: $couleur-tertiaire ;
    border-radius: 0 15px 15px 0 ;
    display: flex ;
    vertical-align: middle ;
    justify-content: center ;
    transform-origin: 100% ;
    transform: scaleX(0) ;
    transition: transform 400ms ease-in-out ;

    i {
        display: block ;
        font-size: 40px ;
        color: $couleur-tertiaire ;
        background-color: white ;
        border-radius: 150px ;
        margin: auto ;
        transition: transform 400ms ease-in-out ;
    }
}

#bouton-commander {
    display :flex ;
    justify-content: center ;
    padding-bottom: 80px ;
    background-color: $bg-color-gris-clair ;

    button {
        width: $width-bouton-rose ;
    }
}