header {
    display: flex ;
    justify-content: center ;
    padding-top: 20px ;
    padding-bottom: 10px ;
   
    img {
        width: 45% ;

        @media all and (min-width: $min-width-tablette) {
            min-width: 340px ;
            max-width: 30% ;
        }
    }
}