@mixin cartes {
    width: $width-mobile-cartes ;
    background-color: white ;
    display: flex ;
    margin: auto ;
    border-radius: 15px ;
    box-shadow: 0px 5px 20px rgba(213, 210, 210, 0.988) ;
    cursor: $cursor ;
}

@mixin carte-menu-descriptif {
    width: 100% ;
        cursor: $pointer ;
        
        &:active + .carte-menu__circle-check {
            transform: scaleX(1) ;
        }
        &:active + .carte-menu__circle-check i {
            transform: rotate(360deg) ;
        }
}

@mixin carte-menu-descriptif-accompagnement-prix {
    display: flex ;
    justify-content: space-between ;
    padding : 10px 20px 10px 10px ;
    
    p {
        margin : 0 ;
        font-size: 14px ;
    }
}

@mixin coupure-texte {
    white-space: nowrap ;
    overflow: hidden ;
    text-overflow: ellipsis ;
}